<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    
<style>

</style>
  </head>
  <body>
  <header>
    <h3> <a href="https://thepanamalien.github.io/TestOne/">AK F&W Glossary Home</a></h3>
<h3>Glossary Navigation - Select a Letter</h3>
 <hr>

<nav>
<ul>
{% for pages in site.pages %}
<li>
  <a href="{{ pages.url | prepend: site.baseurl }}">
   <h4>{{ pages.title }}</h4>
  </a>
  </li>
{% endfor %}
</ul>
</nav>

        
        
  </header>
     <body>
        {{ content }}
  </body>
</html>
